/* Footer Container */
.footer {
    background: rgb(29 44 89);
    padding: 40px 0;
    padding-bottom: 1rem;
    color: white;
  }
  
  /* Collapse Title */
  .tt-collapse-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--color-orange);
  }
  
  /* Collapse Content */
  .tt-collapse-content {
    margin-bottom: 20px;
  }
  
  .tt-collapse-content p {
    margin-bottom: 10px;
  }
  
  .tt-collapse-content ul.tt-list {
    padding-left: 0;
    list-style: none;
  }
  
  .tt-collapse-content ul.tt-list li {
    margin-bottom: 5px;
  }
  
  .tt-collapse-content ul.tt-list li a {
    color: white;
    text-decoration: none;
  }
  .tt-collapse-content ul.tt-list li a:hover {
    color: var(--color-orange);
  }
  
  
  

  .tt-social-icon {
    list-style: none;
    padding: 0;
  }
  
  .tt-social-icon li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .tt-social-icon li:last-child {
    margin-right: 0;
  }
  
  .tt-social-icon a {
    color: #333;
    font-size: 24px;
    text-decoration: none;
  }
  
  .tt-social-icon a:hover {
    color: var(--color-orange);
  }
  

/* --- copyright ---  */
.copyright{
    border-top: 1px solid var(--color-orange);
    padding-top: 1rem;
    background-color: white;
    padding: 1rem;   
}
.text{
  color: black;
  font-size: 16px;
  font-weight: 700;
  font-family: poppins;
}

.copyright a{
    color: var(--color-orange);
}
.copyright a:hover{
    text-decoration: underline !important;
}
.tt-list ul li a:hover{
    color: gray;
}